*{
        margin: 0;
        padding: 0;
}
html{
        font-size: 16px;
}
body{
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;

}
 /* -----------------------------navbar styling -------------------*/
nav{
        width: 100%;
        /* border: 1px solid black; */
}
.header{
        width:90%;
        /* border: 1px solid red; */
        margin: auto;
        display: flex;
        
  
}
.logo{
        width: 30%;
        /* border: 1px solid blue; */
}
.logo img{
        z-index: 1;
}
.logo div{
        display: flex;
        align-items: center;
        color: red;
}
.logo span{
        font-size: 22px; 
        margin-left: 5%;
}

.menu{
        width: 70%;
        /* border: 1px solid red; */
}
.menu_item{
        list-style-type: none;
        display: inline-flex;
        float: right;
        margin-right: 10%;
      
}
.menu_item li{
        margin-top:6%;
        margin-left: 50px;
}

/* --------------------------banner design ---------------------*/
.banner{
        margin-top: -10px;
        display: flex;
        height: 500px;
        
  
}
.banner_img{
        width: 70%;
    
       
}
.banner_img img{
        width: 100%;
        height: 100%;      
}


/* ----------------------banner description ------------------*/
.banner_desc
{
        /* border: 1px solid rgb(205, 130, 10); */
        width: 30%;
        box-sizing: border-box;
        background-color: #f84144; 
        padding: 25px;

        
}
 
.banner_desc .bnrhead{
        color: #ffedeb;
        font-size: 1rem;
        letter-spacing: 1px;
        /* margin-top: 20px; */
}
.banner_desc h2{
        color:#ffffff;
        letter-spacing: 1px;
        margin-top: 20px;
        font-size: 44px;
        line-height: 55px;
}
.banner_desc .bnrpara{
        margin-top: 10px;
        color: #ffedeb;
        font-size: 20px;
}
.banner_desc button{
        margin-top: 25px;
        width: 200px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;
        background-color:  #F6F6F5;
}
.banner_desc button i{
        margin-left: 10px;
}

/* -----------------------Filters design ------------------*/

.recipes .h1{
        padding-bottom: 20px;
        font-size: 35px;
        font-family: 'Roboto', sans-serif;
}
.filter_menu {
        display: flex;
        width: 100%;
}

.filter_menu .filter1{
         display: flex;
         padding: 20px 0px 25px 10px;
         width: 23.5%;
         background-color: #f84144;  
         /* border: 1px solid black; */
}
.filter_menu .filter1 p{
        font-size: 15px;
        color: white;
}
.filter_menu .filter1 i{
        margin-left: 55%;
        color: white;
}


.filter_menu .filter2{
        display: flex;
        width: 30%;
        text-align: center;
        /* border: 1px solid black;  */
}
.filter_menu .filter2 span{
        font-size: 20px;
        margin-left: 5%;
       align-self: center;
       
}
.filter_menu .filter2 button{
        width: 200px;
        height: 50px;
        margin-left: 20px;
        border: 2px solid black;
        background-color:  #F6F6F5;
        border-radius: 5%;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        
}
.filter_menu .filter2 button i{
        margin-left: 20px;
}
 .filter_menu .filter3{
        display: inline-flex; 
        align-items: center;
          width: 50%;
          /* border:1px solid black; */
 }

 .filter3 span{
         margin-left: 69%;
         float: right;
 }
 .filter3 i{
       color: rgb(81, 74, 74);
         
 }
 .filter3 input{
         border: none;
         width: 150px;
         height: 40px;
         margin-left: 10px;
         font-size: 20px;
         /* border-radius: 10%; */
         background-color:  #F6F6F5;
         letter-spacing: .5px;
 }
.filter_items{
        display: flex;
}
.filter_items .filter_item{
        width: 25%;
  background-color: #f84144;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 20px;

}
.borderdiv{
        border-right: 1px solid white;
}
.filter_items .filter_item  .filter_heading{
        color: white;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 15px;
}


.topgap{
        margin-top: 14%;
}

/* -----------------circle check box--------------------- */
   .field_grp{
   display: flex;
   align-items: center; 
   padding: 5px;       
   }  
   .field_grp label{
           cursor: pointer;
           display: flex;
           color: white;
   }
.field_grp input[type='checkbox']{
        position: absolute;
        opacity: 0;
        cursor: pointer;
}
.field_grp label::before{
        content: "";
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        border:1px solid white;
        margin-right: .5em;
        background-color: white;
}
.field_grp input[type="checkbox"]:checked + label::before{
        content: '\002714';
        background-color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;  
}

 /* ----------------------Card design--------------------- */
.recipes, .card, .contact,footer {
        background-color: #F6F6F5;
        padding: 30px 40px;
}

   .row1,.row2,.row3{
   display: flex;
      
        }
   .menu-img1{
           box-sizing: border-box;
        padding: 15px;

   }
        
        .menu-img1 .desc{
 
        background-color: white;
        }
        .menu-img1 .desc .side{
                padding: 10px;
        }
        .menu-img1 .desc .side .cntrynam{
           
        }
        .desc .p1{
        font-size: 30px;
        height: 5em;
        margin-top: 15px;
        padding: 15px;
        }
        
        .menu-img1 img{
        width: 100%;
        height: auto;
        }
        
        .side{
        display: flex;
        justify-content: space-between;
        }
        .menu-img1 .rtrntop {
           color: #f84144;
           display: flex;
           padding: 20px 20px 10px 0px;
        }
        .menu-img1 .rtrntop span {
               font-size: 18px;
              }
        .menu-img1 .rtrntop i{
             margin-top: 1px;
                margin-left: 10px;
        }

/* --------------------contact form design----------------------  */
.contact{
        color: white;
        background-color: #f84144;
}
.contact .sprdword{
 font-size: 32px;
 padding:12px 0px ;
}

.contact .spwdesc{
        width: 400px;
        font-size: 15px;
        padding: 12px 0px;
        color: #FEFFFF;
}
/* ======row 1===== */
.contact .firstrow{
        display:flex;
        border-bottom: 1px solid white;
     
}

.contact .firstrow .inp1{
       margin-right: 40px;
       margin-bottom: 20px;
}
.contact .firstrow .inp1 input{
        width: 300px;
        height: 35px;
        border: none;
        border-radius: 3px;
        font-size: 17px;
        padding-left: 7px;
        margin-top: 8px;
}
.contact .firstrow .btn{
        display: flex;
        align-items: center;
        margin-left: 55px;
}
.contact .firstrow .btn i{
        margin-top: 22px;
       margin-right: 10px;
}
.contact .firstrow .btn p{
        margin-top: 22px;
        
}

/* ======row 2===== */
.contact .secrow{
        display: flex;
}


.contact .secrow .inp1{
       margin: 20px 40px;
       margin-left: 0px;
}
.contact .secrow .inp1 input{
        width: 300px;
        height: 35px;
        border: none;
        border-radius: 3px;
        font-size: 17px;
        padding-left: 7px;
        margin-top: 8px;
}
.contact .secrow .btn {
       margin-top: 45px; 
       margin-left: 30px;
}
.contact .secrow .btn button{
width: 150px;
text-align: center;
height: 35px;
font-size: 15px;
font-weight: bold;
background-color: #f84144;
border: 1.5px solid white;
border-radius: 5px;
color: white;
padding: 10px;

}
/* button */

.contact button[type="submit"]{
        width: 140px;
        height: 35px;
      margin-left: 48%;
      padding: 10px;
      margin-top: 25px;
      border: 1.5px solid white;
      border-radius: 1.5px;
        }

/* -------------------------------footer------------------------------ */
footer{

display: flex;
/* border: 1px solid red; */
}
.ftr-col1{
        box-sizing: border-box;
        width: 70%;
        display: flex;
        /* border: 1px solid red; */
}
.ftr-col2{
    box-sizing: border-box;
    width: 30%;
    /* border: 1px solid blue; */
    padding: 10px;
   padding-left: 90px;
    justify-content: space-around;
    height: 200px;
}

footer .ftr-card1{
        width: 25%;
}
.ftr-card1 .ftr-head{
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
}
.ftr-card1 .ftr-para1{
        margin-right: 40px;
}

.ftr-card1 .lrnmore{
        margin-top: 10px;
        color: red;
}

.ftr-card1 .sendmail{
        color: red;
        margin-top: 10px;
        margin-bottom: 15px;
}

.ftr-card1 .helppara{
        margin-top: 35px;
}

.ftr-col2 .ftr-lastcol{
        font-size: 20px;
 
        padding-bottom: 20px;
}

.ftr-lstcolpara{
        margin-top: 25px;
}













